[submodule "pkg/tag"]
	path = pkg/tag
	url = https://github.com/hanxi/tag.git
[submodule "songloft-player"]
	path = songloft-player
	url = https://github.com/songloft-org/songloft-player.git
[submodule "plugin-toolchain"]
	path = plugin-toolchain
	url = https://github.com/songloft-org/plugin-toolchain.git
[submodule "jsplugins-src/songloft-plugin-miot"]
	path = jsplugins-src/songloft-plugin-miot
	url = https://github.com/songloft-org/songloft-plugin-miot.git
[submodule "ffmpeg-builder"]
	path = ffmpeg-builder
	url = https://github.com/hanxi/ffmpeg-builder.git
[submodule "jsplugins-src/songloft-plugin-subsonic"]
	path = jsplugins-src/songloft-plugin-subsonic
	url = https://github.com/songloft-org/songloft-plugin-subsonic.git
[submodule "jsplugins-src/songloft-plugin-cloudflared"]
	path = jsplugins-src/songloft-plugin-cloudflared
	url = https://github.com/songloft-org/songloft-plugin-cloudflared.git
[submodule "jsplugins-src/songloft-plugin-dav"]
	path = jsplugins-src/songloft-plugin-dav
	url = https://github.com/songloft-org/songloft-plugin-dav.git
[submodule "jsplugins-src/songloft-plugin-hostc"]
	path = jsplugins-src/songloft-plugin-hostc
	url = https://github.com/songloft-org/songloft-plugin-hostc.git
[submodule "jsplugins-src/songloft-plugin-registry"]
	path = jsplugins-src/songloft-plugin-registry
	url = https://github.com/songloft-org/songloft-plugin-registry.git
[submodule "jsplugins-src/songloft-plugin-downloader"]
	path = jsplugins-src/songloft-plugin-downloader
	url = https://github.com/songloft-org/songloft-plugin-downloader.git
[submodule "jsplugins-src/songloft-plugin-lyrics"]
	path = jsplugins-src/songloft-plugin-lyrics
	url = https://github.com/songloft-org/songloft-plugin-lyrics.git
