[submodule "pkg/tag"]
	path = pkg/tag
	url = https://github.com/hanxi/tag.git
[submodule "songloft-player"]
	path = songloft-player
	url = https://github.com/songloft-org/songloft-player.git
[submodule "jsplugins"]
	path = jsplugins
	url = https://github.com/mimusic-org/jsplugins.git
[submodule "plugin-toolchain"]
	path = plugin-toolchain
	url = https://github.com/mimusic-org/plugin-toolchain.git
[submodule "jsplugins-src/jsplugin-musicsdk"]
	path = jsplugins-src/jsplugin-musicsdk
	url = https://github.com/mimusic-org/jsplugin-musicsdk.git
[submodule "jsplugins-src/mimusic-jsplugin-miot"]
	path = jsplugins-src/mimusic-jsplugin-miot
	url = https://github.com/mimusic-org/mimusic-jsplugin-miot.git
